/*!
Theme Name: byte
Theme URI: http://underscores.me/
Author: Danial Montazeri
Author URI: http://vishar-web.ir
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: byte
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

byte is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Font Face
	- IRANSans
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments
# Pages
	- Home page
# Animations
	- Hover Effects
# Media Queries
	- 1200px
	- 1000px
	- 800px
	- 500px
	- 450px

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Font Face
--------------------------------------------------------------*/

/* IRANSans
--------------------------------------------- */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('./assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /*FF39+,Chrome36+, Opera24+*/
         url('./assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
	font-display: swap;
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('./assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /*FF39+,Chrome36+, Opera24+*/
         url('./assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('./assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
	font-display: swap;
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/eot/IRANSansWeb_Light.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('./assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /*FF39+,Chrome36+, Opera24+*/
         url('./assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
	font-display: swap;
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('./assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),/*FF39+,Chrome36+, Opera24+*/
         url('./assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
	font-display: swap;
  }
  
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/eot/IRANSansWeb.eot');
    src: url('./assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('./assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /*FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/woff/IRANSansWeb.woff') format('woff'),  /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/ttf/IRANSansWeb.ttf') ;
	font-display: swap;
}

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
:root {
    --clr-dark-purple : #4c0048;
	--clr-gray: #e4e5e7;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	scroll-behavior: smooth;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
	font-family: IRANSans;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
	text-decoration: none;
}

a:visited {
	color: #800080;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #191970;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: max-content;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/* Header
--------------------------------------------- */
#page{
	position: relative;
}
#masthead{
	position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    z-index: 10;
}
.main-menu,
.footer-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.site-branding.logo{
	width: 6rem;
    padding: 1rem;
}
.main-navigation ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation ul li a{
	display: block;
	padding: .25rem;
	margin: 0 .25rem;
	text-decoration: none;
	color: #e5e3e6;
	transition: .3s ease;
	border-bottom: 2px solid transparent;
}
.main-navigation ul li a:hover{
	border-color: white;
	color: white;
}
.main-navigation ul li.current-menu-item a{
	border-color: white;
	color: white;
}

/* Home Page
--------------------------------------------- */
.mobile-menu{
	display: none;
}
.uppercase a{
	text-transform: uppercase;
}
.sections{
	padding: 3rem 10rem 0;
}
.title-style-archive{
	font-size: 2.5rem;
	color: var(--clr-dark-purple);
	text-align: center;
	border-bottom: 2px solid;
	width: max-content;
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 0.5rem;
}
.subtitle-style-archive{
	background-color: white;
	display: block;
	width: max-content;
	margin: -2% auto 0;
	font-size: 1.3rem;
	font-weight: 200;
	text-transform: capitalize;
	z-index: 1;
	position: relative;
	padding: 0 .5rem;
}
.title-style{
    font-size: 2.5rem;
    color: var(--clr-dark-purple);
    text-align: center;
    border-bottom: 4px solid;
    width: max-content;
    margin: auto;
	padding-left: 5rem;
	padding-right: 5rem;
	text-transform: uppercase;
}
.content-style h2{	
	position: relative;
	font-size: 2rem;
    padding-left: 1.5rem;
	padding-bottom: .5rem;
    margin: 0;
	line-height: 1;
}
.content-style h2,
.content-style h3,
.content-style h4,
.content-style h5,
.content-style h6{
	color: var(--clr-dark-purple);
}
.title2-style{
	text-transform: uppercase;
	font-size: 2.5rem;
    color: var(--clr-dark-purple);
    padding-left: 3rem;
	padding-bottom: .5rem;
    margin: 0;
	line-height: 1;
}
.title3-style{
    font-size: 3rem;
    color: white;
    padding-right: 3rem;
    padding-bottom: .5rem;
    margin: 0;
    line-height: 1;
}
.subtitle-style{
	color: #a6a7a9;
    padding-left: 3rem;
    margin: 0;
    font-weight: normal;
	line-height: 1.5;
}
.subtitle2-style{
	color: #a6a7a9;
    padding-right: 3rem;
    margin: 0;
    font-weight: 100;
    line-height: 1.5;
    font-size: 2rem;
}
.title-box{
	position: relative;
}
.content-style h2::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1rem;
	height: 100%;
	background-color: var(--clr-dark-purple);
}
.title-box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 2rem;
	height: 100%;
	background-color: var(--clr-dark-purple);
}
.title-box-2{
	position: relative;
}
.title-box-2::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 2rem;
	height: 100%;
	background-color: var(--clr-dark-purple);
}
.content-style{
	padding: 0 5rem;
    color: #a6a7a9;
    font-size: 1.2rem;
    text-align: justify;
	margin-bottom: 0;
}
.content2-style{
	padding: 0;
	color: #a6a7a9;
	font-size: 1.2rem;
	text-align: justify;
	margin-bottom: 0;
}
.read-more{
	display: block;
	width: max-content;
    margin: auto;
    text-align: center;
    color: var(--clr-dark-purple);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
	transition: .3s ease-out;
}
.read-more2{
    color: var(--clr-dark-purple);
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;
	display: block;
	width: max-content;
	transition: .3s ease-out;
}
.read-more::after,
.read-more2::after{
    content: "\f061";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: .25rem; 
}
.archive-title{
	background: var(--clr-dark-purple);
    color: #e5e5e5;
    padding: .25rem .5rem;
    margin: 0;
}
.archive-excerpt{
	color: #929395;
	text-align: justify;
	margin: .75rem 0;
}
.slick-arrow{
	cursor: pointer;
    font-size: 0;
    width: 2.75rem;
    height: 2.75rem;
	border: none;
    border-radius: 5px;
    transition: .3s ease;
    display: block;
	background: transparent;
}
.slick-prev{
	position: absolute;
    left: 15%;
    top: 40%;
	z-index: 1;
	transition: .3s ease-out;
}
.slick-next{
	position: absolute;
    right: 15%;
    top: 40%;
	z-index: 1;
	transition: .3s ease-out;
}
.slick-prev::before{
	content: "\f053";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 1.5rem;
	line-height: normal;
	color: #e4e5e7;
	transition: .3s ease-out;
}
.slick-next::before{
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 1.5rem;
	line-height: normal;
	color: #e4e5e7;
	transition: .3s ease-out;
}
.home-page .section-2 .cat-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 3rem 0 2rem;
}
.home-page .section-2 .cat-list .items{
	display: block;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--clr-dark-purple);
	background-color: #e4e5e7;
	padding: 1.5rem 1rem;
	margin: 1% 0;
	width: 18%;
	transition: .3s ease-out;
    border: 1px solid transparent;
}
.home-page .homePage-sec2-slider .slick-prev,
.home-page .homePage-sec4-slider .slick-prev{
    left: 8%;
    top: 45%;
}
.home-page .homePage-sec4-slider .slick-next,
.home-page .homePage-sec2-slider .slick-next{
	right: 8%;
    top: 45%;
}
.home-page .section-3 .box{
	padding: 3rem 10rem;
}
.home-page .section-3 .cat-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 2rem 10rem;
	background: linear-gradient(to bottom right, #240024, #51004c);
	box-shadow: inset 0 0 15px -5px black;
}
.home-page .section-3 .cat-list .items{
	display: block;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--clr-dark-purple);
    background-color: #e4e5e7;
    margin: 2% 0;
    width: 29%;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
	transition: .3s ease-out;
}
.home-page .section-3 .cat-list .items .image{
	overflow: hidden;
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
}
.home-page .section-3 .cat-list .items .image::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	z-index: 1;
	transition: .3s ease-out;
}
.home-page .section-3 .cat-list .items img{
	width: 100%;
	display: block;
}
.home-page .section-3 .cat-list .items p{
	margin: 0;
	padding: 1rem;
	font-size: 1.5rem;
}
.home-page .section-4{
	padding-top: 5rem;
}
.home-page .sections .box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}
.home-page .sections .box .left{
	order: 1;
	width: 62%;
}
.home-page .sections .box .left img{
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-page .sections .box .right{
	order: 2;
	width: 34%;
    margin-left: 4%;
}
.home-page .section-5 .box{
	padding-bottom: 3rem;
}
.home-page .section-6{
	padding: 4rem 0 0 0;
}
.home-page .section-6 .box{
	background-color: #e4e5e7;
	padding: 3rem 10rem;
}
.home-page .section-6 .box .left{
	width: 58%;
}
.home-page .section-6 .box .right{
	width: 38%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
	position: relative;
}
.home-page .section-6 .box .right > .slick-list{
	width: 75%;
}	
.home-page .section-6 .box .right::after{
	content: '';
	width: 25%;
	height: 100%;
	display: block;
	background-color: #a6a7ab;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.home-page .homePage-sec6-slider .slick-slide img {
    display: block;
    height: 30rem;
    object-fit: cover;
}
.home-page .homePage-sec6-slider .slick-prev{
	right: 7%;
    top: 30%;
    left: unset;
    transform: rotate(90deg);
}
.home-page .homePage-sec6-slider .slick-next{
	right: 7%;
    bottom: 30%;
	top: unset;
    transform: rotate(90deg);
}
.related-posts{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.home-page .section-7 .homePage-posts{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.related-posts,
.home-page .section-7 .homePage-posts{
	padding-top: 3rem;
}
.related-posts .items,
.home-page .section-7 .homePage-posts .items{
	background-color: var(--clr-gray);
	width: 32%;
	transition: .3s ease-out;
}
.related-posts .items{
	margin-right: 2%;
}
.related-posts .items:last-child{
	margin-right: 0;
}
.related-posts .inner,
.home-page .section-7 .homePage-posts .items .inner{
	padding: 2rem 1.5rem;
}
.related-posts .items a.img,
.home-page .section-7 .homePage-posts .items a.img{
	display: block;
	width: 100%;
	overflow: hidden;
}
.related-posts .items a.img img,
.home-page .section-7 .homePage-posts .items a.img img{
	display: block;
	width: 100%;
}
.home-page .section-8{
	margin-top: 3rem;
}
.home-page .section-8 .box{
	background-color: var(--clr-gray);
}
.home-page .section-8 .box .left{
	width: 35%;
}
.home-page .section-8 .box .right{
	width: 65%;
    margin: 0;
    padding: 4rem;
}
/* Biography Page
--------------------------------------------- */
.absolute-box{
	position: absolute;
}
.biography-page .section-1{
	position: relative;
}
.biography-page .section-1 .slick-slide img{
    display: block;
    max-height: 45rem;
    width: 100%;
    object-fit: cover;
}
.biography-page .section-1 .absolute-box{
	z-index: 1;
	text-align: right;
	right: 23%;
	top: 38%;
	width: 35%;
}
.biography-page .section-2{
	padding: 12rem 10rem;
	background: linear-gradient(to bottom right, #240024, #51004c);
    box-shadow: inset 0 0 15px -5px black;
}
.biography-page .section-2 .subtitle-style{
	font-weight: 300;
	line-height: 1.5;
	font-size: 1.75rem;
	padding: 0 5rem;
	color: white;
	border-bottom: none;
	text-align: left;
	width: 100%;
}
.biography-page .section-2 .title-style{
	padding: 0 5rem;
    color: white;
    border-bottom: none;
    text-align: left;
    width: 100%;
}
.biography-page .section-2 .content-style{
	font-size: 1.5rem;
	font-weight: 100;
}
.skill-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 3rem;
}
.skills{
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: .5rem 0;
}
.skills h4{
	font-size: 1rem;
	color: var(--clr-dark-purple);
	margin: .25rem 0;
}
.skills i{
	font-size: 1rem;
	color: var(--clr-dark-purple);
	font-style: unset;
	font-weight: bold;
}
.skills > span{
	display: block;
	width: 100%;
	height: 1.5rem;
	background-color: #a6a7ab;
	box-shadow: inset 0 0 5px 0 #8d8d8d;
	position: relative;
}
.skills span > span{
	display: block;
	position: absolute;
	height: 1.5rem;
	background: linear-gradient(to right, #51004c , #240024);
}
.biography-page .section-4{
	padding-top: 4rem;
}
.degrees-box{
	margin-top: 4rem;
}
.degrees-box .degrees{
	position: relative;
	margin: 1rem 0;
}
.degrees-box .degrees.even{
	direction: rtl;
}
.degrees-box .degrees::before{
	content: "";
	display: inline-block;
	position: absolute;
	top: -15%;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--clr-dark-purple);
}
.degrees-box .degrees .inner{
	display: flex;
	align-items: center;
}
.degrees-box .degrees > div{
	padding-left: 4rem;
}
.degrees-box .degrees.even > div{
	padding-left: 0;
	padding-right: 4rem;
}
.degrees-box .degrees h3{
	color: var(--clr-dark-purple);
	margin: 0 1rem 0 0;
}
.degrees-box .degrees.even h3{
	margin: 0 0 0 1rem;
}
.degrees-box .degrees i{
	background-color: #a6a7ab;
	color: white;
    padding: .125rem .5rem;
    font-style: normal;
    font-size: .8rem;
}
.degrees-box .degrees span{
    color: #a6a7a9;
    font-size: 1rem;
	display: block;
}
.biography-page .section-5{
	background-color: #e4e5e7;
	padding-top: 3rem;
	padding-bottom: 1rem;
	margin-top: 4rem;
	box-shadow: inset 0 0 15px -5px #c1c1c1;
}
.experiences-box{
	margin-top: 3rem;
}
.experiences-box .title-box::before{
	width: 1.75rem;
}
.experiences-box .title2-style{
	font-size: 2rem;
	padding-left: 2.5rem;
}
.experiences-box .subtitle-style{
	padding-left: 2.5rem;
}
.experiences-box .experiences ul{
    background-color: white;
    list-style: none;
    color: #a6a7a9;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 2.5rem 4rem 2.5rem;
}
.experiences-box .experiences ul li{
	color: #a6a7a9;
	font-size: 1rem;
}
.experiences-box .experiences ul li::before{
	content: "- ";
	display: inline-block;
	margin-right: .5rem;
}
.socialMedia-box{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 2rem;
}
.socialMedia-box ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.socialMedia-box ul li a{
	display: block;
	width: 2.25rem;
	height: auto;
	background-color: #bbbcbe;
	color: white;
	font-size: 1.5rem;
	line-height: normal;
	text-align: center;
	font-weight: normal;
	transition: .3s ease-out;
	margin: 0 .25rem;
	padding: .25rem 0;
}
.subtitle{
	color: var(--clr-dark-purple);
	font-size: 1.2rem;
	margin: 1rem 0 0;
}
.socialMedia-box .subtitle{
	color: #bbbcbe;
}
.subtitle::before{
	content: "";
	display: inline-block;
	background-color: var(--clr-dark-purple);
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	margin-right: .5rem;
}
.contact-me form{
	direction: ltr;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin-top: 1.5rem;
}
.contact-me form > p{
	width: 32%;
	position: relative;
	margin: 0;
}
.contact-me form > p label{
	position: absolute;
	top: 12px;
	z-index: 1;
	background: white;
	left: 10px;
	padding: 0 5px;
	color: var(--clr-dark-purple);
	font-weight: 500;
}
.contact-me form > p:nth-of-type(4){
	width: 75%;
}
.contact-me form > p input,
.contact-me form > p textarea{
	width: 100%;
	padding-top: 10px;
	border: 2px solid var(--clr-dark-purple);
	border-radius: 0;
	max-height: 7rem;
}
.contact-me form > p input[type="submit"]{
	width: 100%;
	font-weight: bold;
	text-decoration: none;
	align-items: center;
	padding: .75rem 0 .75rem 1rem;
	border: none;
	cursor: pointer;
	color: var(--clr-dark-purple);
}
.contact-me form > p:nth-of-type(5){
	background-color: #e4e5e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: max-content;
	height: max-content;
	position: relative;
	cursor: pointer;
	color: var(--clr-dark-purple);
    padding-right: 1rem;
    align-self: end;
    margin-bottom: 3%;
	transition: .3s ease-out;
	border: 1px solid transparent;
}
.contact-me form > p:nth-of-type(5)::after{
	content: "\f0a9";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	margin-left: .25rem;
}
.contact-me form > p:nth-of-type(5) > span{
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Archive Blog
--------------------------------------------- */
.blog-img{
	display: block;
	max-height: 45rem;
	width: 100%;
	object-fit: cover;
	position: relative;
}
.archive-blog-page .sections.articles{
	padding: 0 15rem;
}
.archive-article{
	background-color: var(--clr-gray);
	transition: .3s ease-out;
	display: flex;
	align-items: center;
	margin: 3rem 0;
	flex-wrap: wrap;
}
.archive-article > a.post-thumbnail{
	width: 52%;
	align-self: stretch;
}
.archive-article > a.post-thumbnail > img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.archive-article > .inner{
	width: 48%;
	padding: 3rem;
}
.archive-cat-page .articles{
	padding: 3rem 5rem 0;
}
.archive-cat-page .articles article{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-content: stretch;
	margin-top: 5rem;
}
.archive-cat-page .articles article .left{
	width: 45%;
	height: max-content;
	display: block;
    align-self: stretch;
    padding-top: 2rem;
}
.archive-cat-page .articles article.even .left{
	order: 2;
	direction: rtl;
}
.archive-cat-page .articles article .right{
	width: 48%;
	position: relative;
	padding: 2rem 4rem 2rem 0;
}
.archive-cat-page .articles article.even .right{
	order: 1;
	padding: 2rem 0 2rem 4rem;
}
.archive-cat-page .articles article .right::before{
	content: "";
	display: block;
	width: 70%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #e4e5e7;
}
.archive-cat-page .articles article.even .right::before{
	right: unset;
	left: 0;
}
.archive-cat-page .articles article.even .title-box::before {
	left: unset;
	right: 0;
}
.archive-cat-page .articles article.even .title-box .title2-style,
.archive-cat-page .articles article.even .title-box .subtitle-style{
	padding-right: 3rem;
}
.archive-cat-page .articles article .archive-cat-slider a{
	display: block;
	width: 100%;
}
.archive-cat-page .articles article .archive-cat-slider img{
	display: block;
	width: 100%;
	max-height: 40rem;
	object-fit: cover;
}
.archive-cat-page .slick-prev{
	right: -9%;
	top: 30%;
	left: unset;
	transform: rotate(90deg);
}
.archive-cat-page .slick-next{
	right: -9%;
	bottom: 30%;
	top: unset;
	left: unset;
	transform: rotate(90deg);
}
.archive-cat-page .articles article .archive-cat-slider .slick-prev::before,
.archive-cat-page .articles article .archive-cat-slider .slick-next::before{
	color: #afafaf;
}
.archive-cat-page .even .slick-next,
.archive-cat-page .even .slick-prev{
	left: -9%;
}
.single-cat-archive{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 15rem;
}
.single-cat-archive > div{
	width: 45%;
	margin-bottom: 3rem;
}
.single-cat-archive .single-cat-posts-slider img{
	display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
.single-cat-posts-box{
	background-color: #e4e5e7;
}
.single-cat-posts-box .inner h2{
	width: 85%;
	color: #6c6d6f;
	text-transform: uppercase;
	font-weight: 500;
	margin: .25rem 0 0 0;
}
.single-cat-posts-box .inner{
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.single-cat-posts-box .inner span{
	color: #a6a7ab;
}
.single-cat-posts-box .inner span::before{
	content: "";
	display: inline-block;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: var(--clr-dark-purple);
	margin-right: .3rem;
}
.archive-cat-page .single-cat-posts-box .slick-prev{
	right: 9%;
    bottom: -12%;
    left: unset;
    transform: unset;
    top: unset;
}
.archive-cat-page .single-cat-posts-box .slick-next{
	right: 1%;
    bottom: -12%;
    top: unset;
    left: unset;
    transform: unset;
}
.archive-cat-page .single-cat-posts-box .slick-next::before,
.archive-cat-page .single-cat-posts-box .slick-prev::before{
	color: #b89fbd;
	font-size: 1rem;
}
.lb-data .lb-caption{
	font-size: 1rem !important;
}
.lb-data .lb-caption> p{
	font-size: .9rem;
	font-weight: normal;
	text-align: justify;
}
/* Footer
--------------------------------------------- */
.footer-menu{
	width: 70%;
	margin: auto;
}
.site-footer .main-navigation {
    display: block;
    width: 35.5%;
}
.site-footer .site-branding.logo {
	width: 29%;
	padding: 0 11%;
}
.site-footer{
	margin-top: 4rem;
	padding: 7rem 10rem 5rem;
    background: linear-gradient(to bottom right, #240024, #51004c);
    box-shadow: inset 0 0 15px -5px black;
}
.site-footer .how-to-contact{
	width: 70%;
	margin: 1.5rem auto 0;
}
.site-footer .how-to-contact > i{
	color: #ebebeb;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    width: max-content;
    display: block;
    margin: 0 auto -1.3rem;
    background: linear-gradient(to bottom right, #350033, #3b0139);
    z-index: 1;
    position: relative;
    padding: 0 .75rem;
}
.site-footer .how-to-contact hr{
	background-color: #ebebeb;
    height: 2px;
}
.site-footer .footer-contact{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0 0;
}
.site-footer .footer-contact .send-message{
	width: 45%;
}
.site-footer .footer-contact .send-message a{
	background-color: #470245;
	color: #ebebeb;
	width: max-content;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 1rem;
	margin: auto;
	transition: .3s ease-out;
}
.site-footer .footer-contact .send-message a::after{
	content: "\f0a9";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: .25rem;
}
.site-footer .footer-contact > i{
	font-size: 1rem;
	color: #ebebeb;
	font-style: normal;
	font-weight: bold;
}
.site-footer .footer-contact .footer-social-media{
	width: 45%;
}
.site-footer .footer-contact .footer-social-media ul{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: auto;
}
.site-footer .footer-contact .footer-social-media ul li a{
	display: block;
	width: 2rem;
	height: 2rem;
	background-color: #470245;
	color: #ebebeb;
	font-size: 1.3rem;
    line-height: 1.5;
	text-align: center;
	font-weight: normal;
	transition: .3s ease-out;
}
.scroll-to-top > a{
	cursor: pointer;
}
/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
/* Hover Effects
--------------------------------------------- */
@-webkit-keyframes ReadMoreBtn {
	0%   { transform: translateX(0); }
	50% { transform: translateX(5px); }
	100% { transform: translateX(5px); }
}
@-moz-keyframes ReadMoreBtn {
	0%   { transform: translateX(0); }
	50% { transform: translateX(5px); }
	100% { transform: translateX(5px); }
}
@-o-keyframes ReadMoreBtn {
	0%   { transform: translateX(0); }
	50% { transform: translateX(5px); }
	100% { transform: translateX(5px); }
}
@keyframes ReadMoreBtn {
	0%   { transform: translateX(0); }
	50% { transform: translateX(5px); }
	100% { transform: translateX(5px); }
}
.home-page .section-1 .slick-next:hover,
.home-page .section-1 .slick-prev:hover,
.home-page .section-2 .slick-next:hover,
.home-page .section-2 .slick-prev:hover,
.home-page .section-5 .slick-next:hover,
.home-page .section-5 .slick-prev:hover{
	background-color: rgba(0, 0, 0, 0.175);
}
.slick-next:hover::before,
.slick-prev:hover::before{
	color: white;
}
.site-footer .footer-contact .footer-social-media ul li a:hover{
	transform: translateY(-5px);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.socialMedia-box ul li a:hover{
	box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
	background-color: var(--clr-dark-purple);
}
.contact-me form > p:nth-of-type(5):hover{
	transform: translateY(-5px);
	border-color: var(--clr-dark-purple);
}
.site-footer .footer-contact .send-message a:hover{
	transform: translateY(-5px);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.contact-me form > p:nth-of-type(5):hover::after,
.site-footer .footer-contact .send-message a:hover::after,
.read-more:hover::after,
.read-more2:hover::after{
	-webkit-animation: ReadMoreBtn 1s infinite; /* Safari 4+ */
	-moz-animation:    ReadMoreBtn 1s infinite; /* Fx 5+ */
	-o-animation:      ReadMoreBtn 1s infinite; /* Opera 12+ */
	animation:         ReadMoreBtn 1s infinite; /* IE 10+, Fx 29+ */
}
.read-more:hover{
	color: var(--clr-dark-purple);
	transform: translateY(-5px);
}
.read-more2:hover{
	color: var(--clr-dark-purple);
}
.home-page .section-2 .cat-list .items:hover{
	background-color: #4c004866;
}
@-webkit-keyframes IMAGE-HOVER {
	0%   { transform: scale(1); }
	100% { transform: scale(1.1); }
}
@-moz-keyframes IMAGE-HOVER {
	0%   { transform: scale(1); }
	100% { transform: scale(1.1); }
}
@-o-keyframes IMAGE-HOVER {
	0%   { transform: scale(1); }
	100% { transform: scale(1.1); }
}
@keyframes IMAGE-HOVER {
	0%   { transform: scale(1); }
	100% { transform: scale(1.1); }
}
.related-posts .items:hover img,
.home-page .section-7 .homePage-posts .items:hover img,
.home-page .section-3 .cat-list .items:hover img{
	transform: scale(1.1);
	-webkit-animation: IMAGE-HOVER 4s; /* Safari 4+ */
	-moz-animation:    IMAGE-HOVER 4s; /* Fx 5+ */
	-o-animation:      IMAGE-HOVER 4s; /* Opera 12+ */
	animation:         IMAGE-HOVER 4s; /* IE 10+, Fx 29+ */
}
.related-posts .items:hover,
.home-page .section-7 .homePage-posts .items:hover{
	box-shadow: 0 0 5px 1px rgb(0 0 0 / .3);
	transform: translateY(-5px);
}
.home-page .section-3 .cat-list .items:hover{
	box-shadow: -1px 1px 20px -2px rgb(0 0 0);
	transform: translateY(-5px);
}
.home-page .section-3 .cat-list .items:hover > .image::before{
	background-color: #4c004885;
}
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
/* 1400px
--------------------------------------------- */
@media only screen and (max-width:1400px){
	.home-page .homePage-sec6-slider .slick-slide img {
		height: 25rem;
	}
	.archive-cat-page .articles article .archive-cat-slider img{
		max-height: 30rem;
	}
}
/* 1200px
--------------------------------------------- */
@media only screen and (max-width:1200px){
	.archive-cat-page .articles article .archive-cat-slider img{
		max-height: 25rem;
	}
	.archive-blog-page .sections.articles{
		padding: 0 10rem;
	}
	.sections {
		padding: 3rem 5rem 0;
	}
	.home-page .section-3 .box,
	.home-page .section-6 .box{
		padding: 3rem 5rem;
	}
	.home-page .section-3 .cat-list{
		padding: 2rem 5rem;
	}
	.site-footer{
		padding: 4rem 5rem;
	}
	.biography-page .section-1 .absolute-box {
		right: 16%;
		top: 38%;
		width: 39%;
	}
	.biography-page .section-2 {
		padding: 10rem 5rem;
	}
}
/* 1000px
--------------------------------------------- */
@media only screen and (max-width:1000px){
	.archive-blog-page .sections.articles{
		padding: 0 7rem;
	}
	.archive-cat-page .articles,
	.sections {
		padding: 3rem 2rem 0;
	}
	.home-page .section-3 .box,
	.home-page .section-6 .box{
		padding: 3rem 2rem;
	}
	.home-page .section-3 .cat-list{
		padding: 2rem 2rem;
	}
	.site-footer{
		padding: 4rem 2rem;
	}
	.biography-page .section-1 .absolute-box {
		right: 10%;
		top: 42%;
		width: 49%;
	}
	.biography-page .section-2 {
		padding: 8rem 2rem;
	}
}
/* 800px
--------------------------------------------- */
@media only screen and (max-width:800px){
	.archive-cat-page .articles article .left{
		padding-top: 0%;
	}
	#masthead{
		position: sticky;
		top: 0;
		right: 0;
		left: 0;
	}
	.main-menu{
		display: none;
	}
	.mobile-menu{
		position: relative;
		display: block;
		width: 100%;
	}
	.mobile-menu .menu-bar{
		background: linear-gradient(to bottom right, #240024, #51004c);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: .5rem 1rem;
	}
	.mobile-menu .menu-bar .menu-icon-box{
		width: 33%;
	}
	.mobile-menu .menu-bar .mobile-logo{
		width: 33%;
	}
	.mobile-menu .menu-bar .mobile-logo .custom-logo-link{
		display: block;
	}
	.mobile-menu .menu-bar .menu-icon-box .menu-icon,
	.mobile-menu .menu-bar .menu-icon-box .menu-icon-close{
		color: #e4e5e7;
		font-size: 1.5rem;
		display: block;
		list-style: none;
		cursor: pointer;
	}
	.mobile-menu .menu-bar .menu-icon-box .menu-icon-close{
		display: none;
	}
	.mobile-menu .menu-bar .menu-icon-box .menu-icon i{
		display: block;
	}
	.mobile-menu .menu-bar .mobile-logo img{
		display: block;
		width: 2.5rem;
		margin: auto;
	}
	.menu-list{
		position: absolute;
		top: 56px;
		left: -100%;
		background: #41003e;
		width: 100%;
		z-index: 10;
		padding: 1rem;
		box-shadow: inset 0 0 15px -5px black;
		min-height: 100vh;
		overflow: auto;
		height: 100%;
	}
	.menu-list .mobile-navigation ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menu-list .mobile-navigation ul li{
		display: block;
		width: 100%;
		text-align: center;
	}
	.menu-list .mobile-navigation ul li a{
		display: block;
		padding: .25rem .5rem .25rem;
		text-decoration: none;
		color: #e5e3e6;
		width: max-content;
		margin: .5rem auto 0;
	}
	.menu-list .mobile-navigation ul li.current-menu-item a{
		border-bottom: 2px solid white;
		color: white;
	}
	.biography-page .section-2 .subtitle-style,
	.biography-page .section-2 .title-style,
	.content-style {	
		padding: 0 2rem;
	}
	.home-page .section-2 .cat-list .items{
		margin: 2% 0;
		padding: 1rem;
		width: 10.5rem;
	}
	.home-page .section-2 .cat-list{
		justify-content: space-evenly;
		gap: 2%;
	}
	.read-more{
		margin-top: 1rem;
	}
	.home-page .section-3 .cat-list .items{
		margin: 2.5% 0;
		width: 47%;
	}
	.home-page .sections .box .left {
		order: 1;
		width: 100%;
	}
	.home-page .sections .box .right {
		order: 2;
		width: 100%;
		margin-left: 0;
	}
	.home-page .section-4 .box .right {
		padding: 1.5rem 1rem 0;
	}
	.home-page .section-6 .box .right{
		width: 100%;
	}
	.home-page .section-6 .box .left{
		width: 100%;
		margin-bottom: 1.5rem;
	}
	.home-page .section-6 .box .right > .slick-list {
		width: 85%;
	}
	.home-page .section-6 .box .right::after {
		width: 15%;
	}
	.home-page .homePage-sec6-slider .slick-next,
	.home-page .homePage-sec6-slider .slick-prev{
		right: 3.5%;
	}
	.slick-slide img{
		width: 100%;
	}
	.related-posts .items,
	.home-page .section-7 .homePage-posts .items{
		width: 48%;
		margin: 2% 0;
	}
	.home-page .section-8{
		margin-top: 0;
	}
	.home-page .section-8 .box .right{
		padding: 1rem 2rem;
	}
	.site-footer .how-to-contact {
		width: 95%;
	}
	.site-footer .footer-contact {
		width: 100%;
	}
	.biography-page .section-2 {
		padding: 5rem 2rem;
	}
	.biography-page .section-1 .slick-slide img {
		object-fit: none;
		object-position: 55% 24%;
	}
	.biography-page .section-1 .absolute-box {
		right: 6%;
		top: 42%;
		width: 61%;
	}
	.archive-blog-page .sections.articles{
		padding: 0 4rem;
	}
	.archive-cat-page .articles article .left{
		width: 100%;
	}
	.archive-cat-page .articles article .right{
		width: 100%;
		margin-top: 1.5rem;
	}
	.archive-cat-page .slick-prev,
	.archive-cat-page .slick-next{
		right: -8%;
	}
	.archive-cat-page .even .slick-next, .archive-cat-page .even .slick-prev {
		left: -8%;
	}
	.archive-cat-page .articles article.even .right {
		order: 2;
	}
	.single-cat-archive > div {
		width: 100%;
	}
}

/* 700px
--------------------------------------------- */
@media only screen and (max-width:700px){
	.skills {
		width: 45%;
	}
	.degrees-box .degrees {
		position: relative;
		margin: 2rem 0;
	}
	.contact-me form > p:nth-of-type(4) {
		width: 100%;
	}
	.contact-me form > p:nth-of-type(5){
		margin-top: 1.5rem;
	}
	.biography-page .section-1 .absolute-box {
		right: 5%;
		top: 35%;
		width: 70%;
	}
	.archive-article > a.post-thumbnail{
		width: 100%;
	}
	.archive-article > .inner{
		width: 100%;
		padding: 2rem 1.5rem;
	}
	.archive-cat-page .slick-prev,
	.archive-cat-page .slick-next{
		right: -10%;
	}
	.archive-cat-page .even .slick-next, .archive-cat-page .even .slick-prev {
		left: -10%;
	}
}

/* 500px
--------------------------------------------- */
@media only screen and (max-width:500px){
	.slick-next::before ,
	.slick-prev::before {
		font-size: 1rem;
	}
	.slick-arrow{
		width: 2rem;
		height: 2rem;
	}
	.footer-menu {
		width: 100%;
	}
	.home-page .homePage-sec6-slider .slick-next, .home-page .homePage-sec6-slider .slick-prev {
		right: 2.5%;
	}
	.lb-nav a.lb-prev,
	.lb-nav a.lb-next{
		opacity: 1 !important;
	}
	.main-navigation ul li.current-menu-item a {
		width: max-content;
		margin: .125rem auto;
		padding: .125rem .25rem;
	}
	.site-footer .main-navigation,
	.main-navigation {
		width: 100%;
	}
	.title-style{
		font-size: 2rem;
		border-bottom: 3px solid;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.content-style h2,
	.title2-style ,
	.title3-style {
		font-size: 2rem;
		padding-left: 2rem;
	}
	.experiences-box .title-box::before,
	.title-box::before ,
	.title-box-2::before {
		width: 1rem;
	}
	.experiences-box .subtitle-style,
	.experiences-box .title2-style,
	.subtitle-style ,
	.subtitle2-style {
		padding-left: 2rem;
	}
	.biography-page .section-2 .subtitle-style,
	.biography-page .section-2 .title-style,
	.content-style{
		padding: 0 1rem;
	}
	.archive-blog-page .sections.articles{
		padding: 0 1rem;
	}
	.archive-cat-page .articles,
	.sections{
		padding: 1.5rem 1rem 0;
	}
	.home-page .section-3 .box, .home-page .section-6 .box {
		padding: 1.5rem 2rem;
	}	
	.home-page .section-2 .cat-list{
		margin-top: 1.5rem;
	}
	.home-page .section-2 .cat-list {
		justify-content: space-between;
	}
	.home-page .section-2 .cat-list .items {
		width: 48%;
	}
	.home-page .section-3 .cat-list {
		padding: 1rem 2rem;
	}
	.home-page .section-4 {
		padding-top: 2rem;
	}
	.home-page .section-5 .box {
		padding-bottom: 1.5rem;
	}
	.home-page .section-6 {
		padding: 2rem 0 0 0;
	}
	.related-posts,
	.home-page .section-7 .homePage-posts {
		padding-top: 1.5rem;
	}
	.related-posts .items,
	.home-page .section-7 .homePage-posts .items {
		width: 100%;
		margin: 1rem 0;
	}
	.homePage-sec2-slider,
	.homePage-sec4-slider{
		margin-left: -1rem;
		margin-right: -1rem;
	}
	.home-page .section-3 .cat-list .items {
		margin: 1rem 0;
		width: 100%;
	}
	.footer-menu{
		flex-wrap: wrap;
	}
	.footer-menu .main-navigation{
		order: 1;
	}
	.footer-menu .site-branding.logo{
		width: 4rem;
		padding: 5px;
		order: 0;
		margin: 0 15%;
	}
	.site-footer .how-to-contact {
		margin: 1.5rem auto 0;
	}
	.site-footer .footer-contact {
		flex-wrap: wrap;
	}
	.site-footer .footer-contact .send-message ,
	.site-footer .footer-contact .footer-social-media {
		width: 100%;
	}
	.site-footer .footer-contact > i{
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}
	.site-footer .footer-contact{
		padding: 1rem 0 0;
	}
	.home-page .section-3 .cat-list .items img ,
	.home-page .sections .box .left img{
		height: 18rem;
		object-fit: cover;
	}
	.blog-img,
	.slick-slide img{
		min-height: 30rem;
		object-fit: cover;
	}
	.section-6 .slick-slide img{
		min-height: unset;
		height: 15rem;
	}
	.home-page .section-3 .cat-list .items p {
		padding: 0.5rem;
	}
	.subtitle2-style,
	.title3-style{
		padding-right: 2rem;
	}
	.biography-page .section-1 .slick-slide img{
		height: 30rem;
		object-position: 40% 26%;
	}
	.biography-page .section-1 .absolute-box {
		right: 5%;
		bottom: 5%;
		width: 90%;
		top: unset;
		background: #4c004885;
		padding: 2rem 0 2rem 1rem;
	}
	.biography-page .section-2 {
		padding: 3rem 1rem;
	}
	.skills {
		width: 90%;
		margin: .5rem auto;
	}
	.skill-box{
		padding-top: 1rem;
	}
	.biography-page .section-4 {
		padding-top: 2rem;
	}
	.degrees-box {
		margin-top: 2.5rem;
	}
	.biography-page .section-5 {
		padding-top: 2rem;
		margin-top: 2rem;
		padding-bottom: 1px;
	}
	.experiences-box .experiences ul {
		margin: 1rem 0 2rem 0;
	}
	.socialMedia-box{
		flex-wrap: wrap;
		margin-top: 1rem;
	}
	.socialMedia-box ul {
		margin-top: 1rem;
		margin-left: auto;
	}
	.contact-me form > p {
		width: 100%;
	}
	.contact-me form {
		margin-top: 0.5rem;
	}
	.archive-article{
		margin: 2rem 0 0;
	}
	.archive-cat-page .slick-prev,
	.archive-cat-page .slick-next{
		right: -14%;
	}
	.archive-cat-page .even .slick-next, .archive-cat-page .even .slick-prev {
		left: -14%;
	}
	.archive-cat-page .articles article.even .title-box .title2-style, .archive-cat-page .articles article.even .title-box .subtitle-style {
		padding-right: 2rem;
	}
	.archive-cat-page .articles article .right {
		padding: 0 4rem 0 0;
	}
	.archive-cat-page .articles article.even .right {
		padding: 0 0 0 4rem;
	}

}
/* 450px
--------------------------------------------- */
@media only screen and (max-width:450px){
	.home-page .homePage-sec6-slider .slick-next, .home-page .homePage-sec6-slider .slick-prev {
		right: 1.5%;
	}
	.main-navigation ul{
		flex-wrap: wrap;
	}
	.main-navigation li{
		width: 100%;
		text-align: center;
	}
	.biography-page .section-1 .absolute-box {
		right: 2%;
		bottom: 2%;
		width: 96%;
	}
	.degrees-box .degrees .inner {
		flex-wrap: wrap;
	}
	.degrees-box .degrees h3{
		width: 100%;
	}
	.degrees-box .degrees i {
		margin: .5rem 0;
	}
	.degrees-box .degrees::before {
		top: -7%;
	}
	.archive-cat-page .slick-prev,
	.archive-cat-page .slick-next{
		right: -16%;
	}
	.archive-cat-page .even .slick-next, .archive-cat-page .even .slick-prev {
		left: -16%;
	}
	.main-navigation ul li a{
		width: max-content;
		margin: auto;
	}
}
/* 400px
--------------------------------------------- */
@media only screen and (max-width:400px){
	.home-page .section-2 .cat-list .items {
		font-size: .9rem;
	}
}

/* 350px
--------------------------------------------- */
@media only screen and (max-width:350px){
	.home-page .section-2 .cat-list .items {
		width: 100%;
	}
}